body {
    margin: 0;
    overflow-x: hidden;
    min-width: 320px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

span {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
}

.fa-arrow-right {
    color: #fff;
    font-size: 78px;
    position: absolute;
    top: 35%;
    right: 25%;
    opacity: 1;
    transition: opacity 0.3s;
}

section {
    height: 50vh;
    background-color: #004562;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content2 {
    display: none;
    transition: all 1s;
}


#arrow2 {
    display: none;
    color: #fff;
    font-size: 78px;
    opacity: 0;
    transition: opacity 0.3s;
}
#content2 span {
    color: #000;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

#arrow:hover {
    cursor: pointer;
}

#arrow2:hover {
    cursor: pointer;
}

@media (max-width: 820px){
    #arrow2 {
        display: block;
        position: relative !important;
        color: #000 !important;
        left: 0px !important;
        font-size: 32px;
        margin: 0 !important;
        padding: 4px;
    }

    h1 {
        font-size: 18px;
        padding: 10px;
    }

    #content2 span {
        font-size: 12px;
        padding: 10px;
        text-align: center;
    }
}

@media (max-width: 265px){
    span {
        font-size: 10px;
    }

    #arrow2{
        font-size: 20px;
    }

}